@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    * {
        box-sizing: border-box;
    }
    html {
        scroll-behavior: smooth;
    }
    #home {
        background-image: url('../assets/img/banner-image-01.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}
